@model rsvp.web.ViewModels.FinishFormViewModel
@{
    ViewBag.Title = "Finish";
}

<h2>Thank You</h2>

<p>
    @if (Model.IsAttending == true)
    {
    @Html.Raw(@Model.YesText)
    }

    @if (Model.IsAttending == false)
    {
        @Html.Raw(@Model.NoText)
    }

    @if (Model.IsWaiting == true)
    {
        <p>
            Your name has been placed on waiting list.
        </p>
    }

    @Html.Raw(@Model.FAQText)

    @Html.Raw(@Model.FooterText)

</p>
@Html.ActionLink("Back", "Index", "Event", new { id = Model.DisplayName}, null )