@model rsvp.web.ViewModels.EventViewModel
@{
    ViewBag.Title = "Event RSVP | Southern Poverty Law Center";
}
@using (Html.BeginForm("Register", "Event"))
{
    @Html.HiddenFor(m => m.TemplateId)
    @Html.HiddenFor(m => m.EventId)

    <div class="container">

        @{
            var imgSrc = $"data:{@Model.Template.MimeType};base64,{@System.Convert.ToBase64String(@Model.Template.Image)}";
        }
        @*<img src="http://placehold.it/665x200" class="img-responsive center-block">*@
        <img src="@imgSrc" class="img-responsive center-block">

        <div class="row">
            <div class="col-md-12">
                <h2>
                   @Html.DisplayFor(m => @Model.Name)
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @Html.Raw(@Model.Template.HeaderText)

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @Html.Raw(@Model.Template.BodyText)

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">Enter the reservation code from your invitation below, then click the Submit button.</div>
        </div>

        <div class="row">
            <div class="col-md-12">

                @Html.ValidationSummary()
                <div class="form-group">

                    <label class="control-label">
                        Reservation Code
                    </label>
                    @Html.TextBoxFor(x => x.PromoCode, new { @class = "form-control" })
                    <button class="btn btn-primary">Submit</button>
                </div>
                <p>Example: 55566677788</p>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Raw(@Model.Template.FAQText)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Raw(@Model.Template.FooterText)
            </div>
        </div>
    </div>
            }