@model DonorGateway.Domain.Guest
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("RegisterConfirm", "Event"))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.EventId)
    @Html.HiddenFor(m => m.FinderNumber)
    @Html.HiddenFor(m => m.LookupId)

    <div class="form-group">
        <label class="control-label">Attending?</label>
        @Html.EditorFor(m => m.IsAttending, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    <div class="form-group">
        <label class="control-label">Number Tickets</label>
        @Html.EditorFor(m => m.TicketCount, new { htmlAttributes = new { @class = "form-control" } })

    </div>

    <div class="form-group">
        <label class="control-label">Name</label>
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        @Html.EditorFor(m => m.Address, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        @Html.EditorFor(m => m.Address2, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">City</label>
        @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">State</label>
        @Html.EditorFor(m => m.State, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">ZIP Code</label>
        @Html.EditorFor(m => m.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">Phone</label>
        @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">Email Address</label>
        @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <label class="control-label">Comments</label>
        @Html.EditorFor(m => m.Comment, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Submit</button>
    </div>

}

